---
layout: default
title: Home
---

<p>
  Climbing is an awesome sport.
  Climbing can also be a quite exclusive and priviledged sport.
  This is a trend we see across the world, and it sucks.
</p>

<p>
  This is the reason I'm publishing my ideas on here instead of patenting or selling them.
  I understand this does not solve any major problems already out there, but I believe this is a step towards the right direction.
</p>

<p>
  I realize that this mindset may not be financially sustainable for me, and in the future, not all of my ideas may be free and open-source.
  However, I'm gonna try my best to do this as long as possible.
</p>

<p>
  If you believe that what I’m doing can make a difference or you simply like one of my projects, please consider supporting me on <a href="https://patreon.com/willykim" target="_blank" rel="noopener noreferrer">Patreon</a>.
  Also, feel free to reach out at info@willy.kim to discuss ideas!
</p>

<hr />

<p>
  Check out some featured articles below, or go <a href="/recent-posts">here</a> for recent posts.
  You can also click the menu button at the top to check out a specific project!
</p>

<h1>Featured Articles</h1>

<hr />

<div class="posts">
  {% for post in site.posts %}
    {% if post.featured %}
      <div>
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>
      </div>
    {% endif %}
  {% endfor %}
</div>
