---
layout: default
title: Home
---

<p>
  Climbing is an awesome sport.
  Climbing is also quite expensive.
  And I don’t mean this in just how much an individual needs to spend to start climbing, but I mean in terms of accessibility to climbing.
</p>

<p>
  There are far fewer climbing gyms in areas with less money.
  Even when there are climbing gyms in these areas, they are often lacking or just not as nice as modern climbing gyms go.
  This is a trend we see across the world, and it sucks.
</p>

<p>
  This is the reason I decided to publish my ideas on my website without patents or selling them.
  I understand this does not solve the major problems, but I believe this is a step towards the right direction.
</p>

<p>
  I don’t make any false claims.
  One day, I may decide to make profit off of an idea.
  However, my belief in equal access to climbing and safety will not change.
</p>

<p>
  If you believe that what I’m doing can make a difference or you simply like one of my projects, please consider supporting me on <a href="https://patreon.com/willykim" target="_blank" rel="noopener noreferrer">Patreon</a>.
  As one of the many financially struggling in the climbing industry, your support can help fuel future ideas and projects.
</p>

<p>
  If you can’t or don’t want to support me today, that’s completely fine.
  Please feel free to reach out to discuss ideas or to simply show your support!
</p>

<hr />

<p>
  Check out some featured articles below, or go <a href="/recent-posts">here</a> for recent posts.
  You can also click the menu button at the top to check out a specific project!
</p>

<div class="posts">
  {% for post in site.posts %}
    {% if post.featured %}
      <div>
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>
      </div>
    {% endif %}
  {% endfor %}
</div>
