---
layout: page
title: Safer Autobelay
---

<p>
  Autobelays are becoming an essential part of a modern climbing gym.
  However, there is an inherent risk involved in using an autobelay.
  I've personally known people who were seriously injured from autobelay-related accidents.
</p>

<p>
  This risk is not only traumatizing mentally and physically for individuals, but also is a huge liability for gyms.
  Educating the users to prevent accidents is important, but I believe there should be safeguards on top of that.
</p>

<p>
  Here, I discuss my ideas to make a safer autobelay.
  The following projects do not aim to provide an autobelay unit complete with different safeguards.
  But rather, they aim to achieve the goal by utilizing different systems available in climbing gyms.
</p>

<hr />

<div class="posts">
  {% for post in site.posts %}
    {% if post.topic == 'Safer Autobelay' %}
      <div>
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>
      </div>
    {% endif %}
  {% endfor %}
</div>
