---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% assign related_posts = site.posts | where: "topic", page.topic %}
{% if related_posts.size >= 1 %}
<div class="related">
  <ul class="related-posts">
    {% for post in related_posts %}
      <li>
        <h3>
          {% if post.url == page.url %}
            <span>{{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </span>
          {% else %}
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          {% endif %}
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
